.header {
  /* overflow: hidden; */
  width: 100%;
}

serach-bar{
  position: relative;
  /* float: left; */
  padding: 7px 10px;
}

.serach-bar input{
  display: inline-block;
  padding-top: 1px;
}

.col {
  float:left;
  width: 50%;
  padding: 15px;
  color: blue;
}
.col2{
  float: right;
  color: black;
}


.searching{
  background-color: antiquewhite
}

.video{
  border-color: red;
}


iframe{
  width:100%;
  height:500px;
  color: red;
}

