* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.header {
  overflow: hidden;
  width: 100%;
  padding: 7px 0px 10px;
}

.logo {
  float: left;
  width: 15%;
}

.signIn {
  float:right;
  width: 10%;
}

.search-bar {
  align-content: center;
  /* position: relative; */
  /* padding: 7px 0px 10px; */
}

.search-bar input{
  padding-top: 2px 0px 2px;
  font-size: 17px;
  text-align: center;
  /* height: auto; */
  outline: none;
  width: 70%;
}

.column1 {
  float: left;
  width: 68%;
  padding: 15px;
}

.column {
  float: left;
  width: 32%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
 
  border-color: blue;
  border: 4px;
}

.thumbnail {
  float: left;
}

.searching{
  background-color: antiquewhite;
}

.anotherTitle p{
  margin-left: 28%;
}

.upNext {
  padding:5px;
}
iframe{
  width:100%;
  height:400px;
  color:red;
}

.avatarImg img {
  float: left;
  border-radius: 50%;
}

.img .name{
  float: left;
}

.opinion{
  width: auto;
  height: auto;
}

@media screen and (max-width:800px){
  .column{
    width:100%;
  }
  .column1{
    width: 100%;
  }
}