.header {
  overflow: hidden;
}

.column {
  float: left;
  width: 50%;
  padding: 15px;
}

.searching{
  background-color: antiquewhite
}

.video{
  border-color: red;
}


.videoPrincipal{
  width:560;
  height:315;
  color: red;
}

